* {
	margin: 0;
	padding: 0;
}

.head {
	box-shadow: 0 1px 2px 1px #eee;
	background-color: white;
	position: fixed;
	height: 60px;
	width: 100%;
	z-index: 2;
}

.logo {
	margin: 0 1.2% 0 2.2%;
}

.logo1 {
	float: left;
	width: 98px;
	height: 40px;
	margin-top: 7px;
}

.logo2 {
	font-size: 16px;
	margin-left: 20px;
	line-height: 60px;
	float: left;
}

.nav {

	float: right;

}

.nav ul {
	line-height: 60px;
	float: left;
}

.nav li {
	margin-right: 51px;

	float: left;
	list-style: none;
}

.nav .btn {
	margin-right: 85px;
	line-height: 30px;
	float: right;
}

.nav .btn1 {
	margin: 0 10px;
	margin-top: 15px;
	width: 90px;
	height: 30px;
	border-radius: 15px;
	border: 1px solid #999999;
	text-align: center;
	float: left;
}

.nav .btn2 {
	color: white;
	background: -webkit-linear-gradient(left, #16afd5, #0fc0bc, #07d1a2);
	margin: 0 10px;
	width: 90px;
	height: 30px;
	margin-top: 15px;
	border-radius: 15px;
	border: 1px solid #999999;
	text-align: center;
	float: left;
}

.c1 {
	/* 	position: absolute; */
	/* 	top: 60px; */
	height: 500px;
	width: 100%;
	background-image: url(img/banner.png);
	background-repeat: no-repeat;
	background-size: 100% 500px;
}

.c1 .container {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
}

.c11 {
	color: white;
	width: 500px;
	height: 500px;
	margin: auto;
	text-align: center;
	padding-top: 110px;
}

.c11 .text {
	font-size: 27px;
	font-weight: 200;
	letter-spacing: 3px;
	color: #d5e6ee;
}

.c11 .title2 {
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 40px;
	font-weight: normal;
	letter-spacing: 3px;
	color: #ffffff;
}

.c11 .image {
	width: 70px;
	height: 70px;
	margin: 30px auto;
	background-image: url(img/play.png);
	background-repeat: no-repeat;
	background-size: contain;

}

.c11 .text1 {
	margin-top: 10px;
	font-weight: 200;
	letter-spacing: 3px;
	color: #ffffff;
}

.vi {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	z-index: 125;
}

.vid {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

}

.vi .btn2 {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 20px;
	height: 20px;
	z-index: 10;
}

.vi img {
	width: 100%;
}

video {
	width: 1000px;
}

.c2 {
	height: 60px;
	width: 100%;
	background: -webkit-linear-gradient(left, #16afd5, #0fc0bc, #07d1a2);

}

.c21 {
	text-align: center;
	line-height: 60px;
	width: 650px;
	height: 60px;
	margin: auto;
}

.c21>div {
	float: left;
}

.c21 .text {
	font-weight: 400;
	font-size: 20px;
	color: white;
}

.c21 .arrow {
	margin: 0 25px;
}

.c21 .btn {
	width: 99px;
	height: 36px;
	background-color: #ffffff;
	border-radius: 19px;
	color: #0bc8ae;
	font-size: 16px;
	padding: 4px 10px;
	margin-top: 8px;
	margin-left: 15px;
	line-height: 36px;
}

.c3 {
	text-align: center;
	padding-bottom: 80px;
}

.c3 .title2 {
	font-size: 36px;
	padding: 71px 0 41px 0;
	text-align: center;
	font-family: PingFang-SC-Light;
	color: #333333;
	font-weight: 200;
}

.c3 .text {
	margin-left: 5%;
	font-size: 18px;
	text-align: center;
	font-family: PingFang-SC-Light;
	color: #666666;
	line-height: 36px;
}

.c4 {
	height: 395px;
	width: 100%;
	background-image: url(img/helpCustomer.png);
	background-repeat: no-repeat;
	background-size: 100% 395px;

}

.c4 .title2 {
	text-align: center;
	font-size: 36px;
	padding: 70px 0 50px 0;
	text-align: center;
	font-family: PingFang-SC-Light;
	color: #333333;
	font-weight: 200;
}

.c4 .container {
	width: 1200px;
	height: 240px;
	padding-bottom: 60px;
	margin: auto;
}

.c4 .box {
	position: relative;
	float: left;
	background-color: #ffffff;
	width: 270px;
	border-radius: 6px;
	margin: 10px 15px;
	height: 180px;
	position: relative;
	box-shadow: 0px 2px 9px 1px rgba(192, 205, 196, 0.29);
}

.c4 .box .record {
	position: absolute;
	top: 20px;
	left: 30px;
	width: 30px;
	height: 8px;
	border-radius: 4px;
	background: -webkit-linear-gradient(left, #16afd5, #0fc0bc, #07d1a2);
}

.c4 .box .text1 {
	position: absolute;
	top: 54px;
	left: 30px;
	letter-spacing: 1px;
	color: #666666;
	font-family: PingFang-SC-Medium;
	font-size: 24px;
}

.c4 .box .text2 {
	position: absolute;
	top: 100px;
	left: 30px;
	font-family: PingFang-SC-Heavy;
	font-size: 24px;
	letter-spacing: 2px;
	color: #333333;

}

.c5 {
	height: 468px;
	width: 100%;
}

.c5 .title2 {
	text-align: center;
	font-family: PingFang-SC-Medium;
	font-size: 36px;
	font-weight: 200;
	color: #333333;
	padding: 60px 0 45px 0;
}

.c51 {
	padding-bottom: 65px;
	border-bottom: 1px solid #f1f1f1;
	width: 1200px;
	height: 260px;
	margin: auto;
}

.c51 .box {
	text-align: center;
	width: 400px;
	float: left;
}

.c51 img {
	width: 30%;
	margin: 48px 35% 21px 35%;
}

.c51 .titl3 {
	text-align: center;
	font-size: 24px;
	color: #333333;
}

.c51 .text {
	text-align: center;
	line-height: 48px;
	color: #666666;
}

.c6 {
	width: 1200px;
	margin: auto;
}

.c6 .title2 {
	text-align: center;
	font-family: PingFang-SC-Light;
	color: #333333;
	font-size: 36px;
	padding: 55px 0 54px 0;
	font-weight: 200;
}

.c6 img {
	float: left;
	margin-left: 20%;
}

.c6 .cont {
	float: left;
	position: relative;
	margin-top: 65px;
	margin-left: 100px;
	height: 320px;
	width: 320px;
}

.c6 .cont .record {
	position: absolute;
	top: 22px;
	left: 0px;
	width: 35px;
	height: 8px;
	border-radius: 4px;
	background: -webkit-linear-gradient(left, #16afd5, #0fc0bc, #07d1a2);

}
.c6 .cont .title3{
	margin-top: 40px;
	font-family: PingFang-SC-Medium;
	    font-size: 24px;
	    font-weight: 500;
	    color: #333333;
	  
	    margin-bottom: 10px;
}
.c6 .cont .title4{
	font-family: PingFang-SC-Medium;
	    font-size: 18px;
	    font-weight: 500;
	    color: #333333;
	  
	    line-height: 32px;
}
.c6 .cont li{
	
	line-height: 36px;
}
.c6 .cont ul{
	padding-left: 20px;
}

.c6 .right .cont{
	margin-left: 200px;
	margin-right: 100px;
}

.c6 .right img{
	margin-left: 0px;
	
}
.c61,.c62,.c63,.c64,.c65{
	height: 500px;
}
.separat{
	height: 0;
	    border: 2px solid #f5f7f8;
	    margin-bottom: 40px;
}
.c7{
	background-color: #f5f7f8;
	height: 700px;
	
}
.c7 .title2{
	text-align: center;
	    font-family: PingFang-SC-Medium;
	    font-size: 36px;
	    font-weight: 200;
	    color: #333333;
	    padding: 60px 0 45px 0;
}

.c7 img{
	width: 192px;
	height: 112px;
}
.c7 .partner{
	width: 980px;
	margin: auto;
}
.bottom{
	padding-top: 20px;
	line-height: 24px;
	text-align: center;
	height: 130px;
	    width: 100%;
}
.kefu{
	bottom: 200px;
	right: 10px;
	position: fixed;
}
.kefu img{
    width: 190px;
}