<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
        <tr>
            <td th:text="${message}" >Red Chair</td>
        </tr>
        <tr th:object="${student}">
            <td>性别：</td>
            <td th:text="*{sex}" ></td>
            <td>年龄：</td>
            <td th:text="*{age}" ></td>
            <td>好学生：</td>
            <td th:text="*{goodStu}" ></td>
        </tr>
    </table>

</body>
</html>